.block-call_to_action
    .top
        .block-title
            font-size: pxToRem(35)
    .call_to_action
        .description
            p 
                font-size: pxToRem(18)
                font-family: $body-font-family
                font-weight: 400
                line-height: 170%
.block-chapter
    @include in-page-without-sidebar
        &--alt_background
            background-color:#fff7ea
        .chapter  
            .text
                order: 2
.block-chapter
    .chapter
        .text 
            order: 0